/* 
    Created on : 16 déc. 2021, 09:13:08
    Author     : ayme.pignon
Feuille pour le menu des réalisations
*/

.bd-placeholder-img { font-size: 1.125rem; text-anchor: middle; -webkit-user-select: none;
 -moz-user-select: none; -ms-user-select: none; user-select: none; }
@media (min-width: 768px) {
 .bd-placeholder-img-lg { font-size: 3.5rem; }
}
.jumbotron { margin-bottom: 0px; }
